<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <Pages>4</Pages>
  <Words>2936</Words>
  <Characters>3039</Characters>
  <Lines>15</Lines>
  <Paragraphs>4</Paragraphs>
  <TotalTime>3</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>3092</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
