.DS_Store
__pycache__/
.idea/
.vscode/
work_project/2026/2026-02-26/O&M/经营管理分析与执行管理会议记录视频.mp4
work_project/2026/2026-05-14/01-业务系统演讲稿/南京三方一体化数字信息平台PECMS模块2025年下半年PC端及APP端管理人员新增功能帮助手册.docx
work_project/2026/2026-05-24/投标文件-5.24.docx
