body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u6994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6996 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:180px;
  width:1200px;
  height:720px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6997 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:180px;
  width:1200px;
  height:56px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6998 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:199px;
  width:18px;
  height:18px;
  display:flex;
}
#u6998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6998_img.mouseOver {
}
#u6998.mouseOver {
}
#u6998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u6999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u6999 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:840px;
  width:96px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u6999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6999_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u6999.mouseOver {
}
#u6999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7000 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:840px;
  width:96px;
  height:36px;
  display:flex;
}
#u7000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:196px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u7001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:467px;
  width:189px;
  height:44px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7003 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:267px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:393px;
  width:200px;
  height:44px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7005 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:267px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7006 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:541px;
  width:49px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:319px;
  width:200px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:319px;
  width:177px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:393px;
  width:200px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7010_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:532px;
  width:280px;
  height:170px;
  display:flex;
}
#u7010 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7010_img.disabled {
}
#u7010.disabled {
}
#u7011 label {
  left:0px;
  width:100%;
}
#u7011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:467px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7011 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7011_img.selected {
}
#u7011.selected {
}
#u7011_img.disabled {
}
#u7011.disabled {
}
#u7011_img.selectedDisabled {
}
#u7011.selectedDisabled {
}
#u7011_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7011_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7012 label {
  left:0px;
  width:100%;
}
#u7012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7012 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:467px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7012 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7012_img.selected {
}
#u7012.selected {
}
#u7012_img.disabled {
}
#u7012.disabled {
}
#u7012_img.selectedDisabled {
}
#u7012.selectedDisabled {
}
#u7012_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7012_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7013 label {
  left:0px;
  width:100%;
}
#u7013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7013 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:392px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7013 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7013_img.selected {
}
#u7013.selected {
}
#u7013_img.disabled {
}
#u7013.disabled {
}
#u7013_img.selectedDisabled {
}
#u7013.selectedDisabled {
}
#u7013_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7013_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7014 label {
  left:0px;
  width:100%;
}
#u7014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7014 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:392px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7014 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7014_img.selected {
}
#u7014.selected {
}
#u7014_img.disabled {
}
#u7014.disabled {
}
#u7014_img.selectedDisabled {
}
#u7014.selectedDisabled {
}
#u7014_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7014_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7015 label {
  left:0px;
  width:100%;
}
#u7015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7015 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:319px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7015 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7015_img.selected {
}
#u7015.selected {
}
#u7015_img.disabled {
}
#u7015.disabled {
}
#u7015_img.selectedDisabled {
}
#u7015.selectedDisabled {
}
#u7015_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7015_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7016 label {
  left:0px;
  width:100%;
}
#u7016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7016 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:319px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7016 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7016_img.selected {
}
#u7016.selected {
}
#u7016_img.disabled {
}
#u7016.disabled {
}
#u7016_img.selectedDisabled {
}
#u7016.selectedDisabled {
}
#u7016_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7016_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7017 label {
  left:0px;
  width:100%;
}
#u7017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7017 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:267px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7017 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7017_img.selected {
}
#u7017.selected {
}
#u7017_img.disabled {
}
#u7017.disabled {
}
#u7017_img.selectedDisabled {
}
#u7017.selectedDisabled {
}
#u7017_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7017_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7018 label {
  left:0px;
  width:100%;
}
#u7018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7018 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:267px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7018 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7018_img.selected {
}
#u7018.selected {
}
#u7018_img.disabled {
}
#u7018.disabled {
}
#u7018_img.selectedDisabled {
}
#u7018.selectedDisabled {
}
#u7018_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7018_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7019 label {
  left:0px;
  width:100%;
}
#u7019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:392px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7019 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7019_img.selected {
}
#u7019.selected {
}
#u7019_img.disabled {
}
#u7019.disabled {
}
#u7019_img.selectedDisabled {
}
#u7019.selectedDisabled {
}
#u7019_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7019_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7020 label {
  left:0px;
  width:100%;
}
#u7020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7020 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:392px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7020 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7020_img.selected {
}
#u7020.selected {
}
#u7020_img.disabled {
}
#u7020.disabled {
}
#u7020_img.selectedDisabled {
}
#u7020.selectedDisabled {
}
#u7020_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7020_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7021 label {
  left:0px;
  width:100%;
}
#u7021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7021 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:319px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7021 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7021_img.selected {
}
#u7021.selected {
}
#u7021_img.disabled {
}
#u7021.disabled {
}
#u7021_img.selectedDisabled {
}
#u7021.selectedDisabled {
}
#u7021_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7021_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7022 label {
  left:0px;
  width:100%;
}
#u7022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7022 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:319px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7022 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7022_img.selected {
}
#u7022.selected {
}
#u7022_img.disabled {
}
#u7022.disabled {
}
#u7022_img.selectedDisabled {
}
#u7022.selectedDisabled {
}
#u7022_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7022_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7023 label {
  left:0px;
  width:100%;
}
#u7023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7023 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:267px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7023 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7023_img.selected {
}
#u7023.selected {
}
#u7023_img.disabled {
}
#u7023.disabled {
}
#u7023_img.selectedDisabled {
}
#u7023.selectedDisabled {
}
#u7023_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7023_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7024 label {
  left:0px;
  width:100%;
}
#u7024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
}
#u7024 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:267px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7024 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 6px;
  box-sizing:border-box;
}
#u7024_img.selected {
}
#u7024.selected {
}
#u7024_img.disabled {
}
#u7024.disabled {
}
#u7024_img.selectedDisabled {
}
#u7024.selectedDisabled {
}
#u7024_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
}
#u7024_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
