body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1080px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:240px;
  height:64px;
  display:flex;
}
#u8842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 56px;
  box-sizing:border-box;
  width:100%;
}
#u8842_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842.mouseOver {
}
#u8842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:94px;
  width:20px;
  height:20px;
  display:flex;
}
#u8843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:64px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:240px;
  height:64px;
  display:flex;
}
#u8845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 56px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:166px;
  width:20px;
  height:20px;
  display:flex;
}
#u8846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:64px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:144px;
  width:4px;
  height:64px;
  display:flex;
}
#u8847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 56px;
  box-sizing:border-box;
  width:100%;
}
#u8847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(1, 156, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:18px;
  width:121px;
  height:28px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:1672px;
  top:16px;
  width:25px;
  height:31px;
  display:flex;
}
#u8851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:20px;
  width:30px;
  height:24px;
  display:flex;
}
#u8852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:1805px;
  top:20px;
  width:37px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:1749px;
  top:12px;
  width:40px;
  height:40px;
  display:flex;
}
#u8855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:1866px;
  top:26px;
  width:16px;
  height:12px;
  display:flex;
}
#u8856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:20px;
  width:1px;
  height:24px;
  display:flex;
}
#u8857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:82px;
  height:40px;
  display:flex;
}
#u8858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:19px;
  width:24px;
  height:24px;
  display:flex;
}
#u8861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:20px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:20px;
  width:26px;
  height:22px;
  display:flex;
}
#u8865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:20px;
  width:97px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 117, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:129px;
  height:64px;
  display:flex;
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:20px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:20px;
  width:22px;
  height:22px;
  display:flex;
}
#u8870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:20px;
  width:97px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:20px;
  width:22px;
  height:22px;
  display:flex;
}
#u8873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:88px;
  width:1630px;
  height:968px;
}
#u8874_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:968px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:916px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:1632px;
  height:916px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:940px;
  width:1632px;
  height:726px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:64px;
  width:1632px;
  height:56px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8878_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:74px;
  width:240px;
  height:36px;
  display:flex;
}
#u8878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8878_img.disabled {
}
#u8878.disabled {
}
#u8879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:81px;
  width:81px;
  height:22px;
  display:flex;
}
#u8879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:120px;
  width:1632px;
  height:56px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:137px;
  width:81px;
  height:22px;
  display:flex;
}
#u8881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8882_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:74px;
  width:240px;
  height:36px;
  display:flex;
}
#u8882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8882_img.disabled {
}
#u8882.disabled {
}
#u8883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:81px;
  width:81px;
  height:22px;
  display:flex;
}
#u8883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:8px;
  width:1632px;
  height:56px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:18px;
  width:96px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:81px;
  width:65px;
  height:22px;
  display:flex;
}
#u8886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:81px;
  width:65px;
  height:22px;
  display:flex;
}
#u8887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:74px;
  width:96px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#409EFF;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:24px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#409EFF;
}
#u8889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8890_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:74px;
  width:240px;
  height:36px;
  display:flex;
}
#u8890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8890_img.disabled {
}
#u8890.disabled {
}
#u8891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:18px;
  width:96px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8892_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  padding:2px 2px 2px 8px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:74px;
  width:240px;
  height:36px;
  display:flex;
  color:#000000;
}
#u8892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8892_img.disabled {
}
#u8892.disabled {
}
#u8893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1521px;
  height:728px;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:188px;
  width:1521px;
  height:728px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8894 label {
  left:0px;
  width:100%;
}
#u8894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:137px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8894 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 8px;
  box-sizing:border-box;
}
#u8894_img.selected {
}
#u8894.selected {
}
#u8894_img.disabled {
}
#u8894.disabled {
}
#u8894_img.selectedDisabled {
}
#u8894.selectedDisabled {
}
#u8894_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:0px;
  width:72px;
  word-wrap:break-word;
  text-transform:none;
}
#u8894_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8895 label {
  left:0px;
  width:100%;
}
#u8895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:137px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8895 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 8px;
  box-sizing:border-box;
}
#u8895_img.selected {
}
#u8895.selected {
}
#u8895_img.disabled {
}
#u8895.disabled {
}
#u8895_img.selectedDisabled {
}
#u8895.selectedDisabled {
}
#u8895_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:0px;
  width:72px;
  word-wrap:break-word;
  text-transform:none;
}
#u8895_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:726px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:940px;
  width:1499px;
  height:726px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:880px;
  width:1392px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:23px;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:880px;
  width:1431px;
  height:23px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
